:root{
  --main-color : #e05d3c75;
  --blured-color : #332a224a;
  --border-color : #d7d7d74e;
}

#root {
  margin: 0 auto;
  padding: 0 1rem;
  background-image: url(/public/bg.jpg);
  background-size: cover;
  min-height: 100vh;
}
@media (max-width: 667px) {
  #root {
    padding: 0;
  }
  
}

