:root{
  --main-color : #00b0f780;
  --blured-color : #1e2c354d;
  --border-color : #e1e1e18f;
}
.prayer {
  background-image: url(/public/bg.jpg);
  background-size: contain;
  height: 100%;
  min-height: 100vh;
}
@media (max-width: 667px) {
  .prayer {
    background-size: cover;
  }
}

